version: '3.2'
services:
  rescraper_zookeeper:
    image: wurstmeister/zookeeper
    ports:
      - "2181:2181"
  mongo:
    image: mongo
    ports:
      - "27017:27017"

  redis:
    image: redis:6.0.8
    ports:
        - "6379:6379"

  kafka:
    image: wurstmeister/kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_ADVERTISED_HOST_NAME: 127.0.0.1
      KAFKA_ZOOKEEPER_CONNECT: rescraper_zookeeper:2181
      KAFKA_ADVERTISED_PORT: 9092
      KAFKA_CREATE_TOPICS: "camera-sensors:12:1,rf-sensors:12:1"


